:root {
    --font-16: 16px;
    --font-14: 14px;
    --font-13: 13px;
    --font-12: 12px;
    --font-10: 10px;
    --font-9: 9px;
    --font-8: 8px;
    --font-7: 7px;
    --font-6: 6px;
  
    --Roboto: "Roboto", sans-serif;
    
    --text-color-black: #000000;
    --color-aksen-yellow: #F69400;
    --color-primary-white: #FFFFFF;
}
.container{
    margin-left: 20px;
    margin-right: 20px;
}

.navbarhome{
    width: 100%;
    position: fixed;
    background-color: var(--color-primary-white);
    top: 0;
    left: 0;
}
.navbarhomefixed{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navhome--logo img{
    height: 33px;
    width: auto;
}
.navhome--fitur{
    display: flex;
}

.navhome--fitur p{
    font-size: var(--font-12);
    font-style: var(--Roboto);
    padding: 10px;
}

.navhome--fitur .garis{
    color: var(--color-aksen-yellow);
}

/* section */
.galeri img{
    width: 155px;
    height: auto;
}
.galeri{
    padding-top: 70px;
    -moz-column-width: 155px;
    -webkit-column-width: 155px;
    column-width: 155px;
    -moz-column-gap: 10px;
    -webkit-column-gap:10px;
    column-gap: 10px;
    margin: 20px;
}

/* navbar bawah */

.parentnavbawah{
    width: 100%;
    position: fixed;
    bottom: 30px;
}

.navbawah{
    width: 301px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #00000040;
    background-color: var(--color-primary-white);
    margin: 0 auto;
    padding: 12px 0px;
}

.navbawah .icon{
    display: flex;
    justify-content: space-between;
}

.navbawah--home{
    margin-left: 20px;
}

.navbawah--profile{
    margin-right:20px;
}