<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulin|Profile</title>
    <link rel="stylesheet" href="../view/style.css">
</head>
<body>
    <!-- head profile -->
    <header class="profile-head">
        <div class="container">
            <div class="profile">
                <!-- foto profil -->
                <div class="foto-profil">
                    <img src="../img/profil-1.png" alt="">
                </div>
                <!-- info profile -->
                <div class="info-profil">
                    <div class="nama-setting">
                        <p>Nanti Juga Paham</p>
                        <div class="btn-setting">
                            <a href="../view/index.html">
                                <img src="../img/setting.png" alt="">
                            </a>
                        </div>
                    </div>
                    <p>Photographer  |  Content Creator</p>
                    <div class="lokasi">
                        <img src="../img/lokasi.png" alt="">
                        <p>Daerah Intimewah Yogyakarta, Indonesia</p>
                    </div>
                    <p>Hidup terlalu Wkwkwkwk untuk dipahami</p>
                    <p class="btn-editProfil">edit profile</p>
                </div>
            </div>

            <!-- profile nvbar -->
            <div class="profile-navbar">
                <!-- post -->
                <div class="profil-icon">
                    <p>23</p>
                    <p>Postingan</p>
                </div>
                <!-- galeri -->
                <div class="profil-icon">
                    <p>239</p>
                    <p>Galeri</p>
                </div>
                <!-- ikuti -->
                <div class="profil-icon">
                    <p>10</p>
                    <p>Diikuti</p>
                </div>
                <!-- pengikut -->
                <div class="profil-icon">
                    <p>13k</p>
                    <p>Pengikut</p>
                </div>
                <!-- bookmark -->
                <div class="profil-icon">
                    <p>10</p>
                    <p>Bookmark</p>
                </div>
            </div>
        </div>
    </header>
    <!-- head profile end -->

    <!-- galeri view start-->
    <section class="profil-galeri">
        <div class="container">
            <div class="galeri">
                <img src="../img/konten/profil1.png" alt="">
                <img src="../img/konten/profil2.png" alt="">
                <img src="../img/konten/profil3.png" alt="">
                <img src="../img/konten/profil4.png" alt="">
                <img src="../img/konten/profil5.png" alt="">
                <img src="../img/konten/profil6.png" alt="">
                <img src="../img/konten/profil7.png" alt="">
                <img src="../img/konten/profil8.png" alt="">
                <img src="../img/konten/profil9.png" alt="">
                <img src="../img/konten/profil10.png" alt="">
                <img src="../img/konten/profil11.png" alt="">
                <img src="../img/konten/profil12.png" alt="">
                <img src="../img/konten/profil13.png" alt="">
                <img src="../img/konten/profil14.png" alt="">
                <img src="../img/konten/profil15.png" alt="">
                <img src="../img/konten/profil16.png" alt="">
                <img src="../img/konten/profil17.png" alt="">
            </div>
        </div>
    </section>
    <!-- galeri view start-->

    <!-- navbar bawah -->
    <div class="parentnavbawah">
        <div class="navbawah">
            <div class="icon">
                <div class="navbawah--home">
                    <a href="../index.html">
                        <img src="../img/home.png" alt="">
                    </a>
                </div>
                <div class="navbawah--search">
                    <a href="../view/search.html">
                        <img src="../img/search.png" alt="">
                    </a>
                </div>
                <div class="navbawah--post">
                    <a href="">
                        <img src="../img/post.png" alt="">
                    </a>
                </div>
                <div class="navbawah--notifikasi">
                    <a href="">
                        <img src="../img/notif.png" alt="">
                    </a>
                </div>
                <div class="navbawah--profile">
                    <a href="../view/profile.html">
                        <img src="../img/profile.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar bawah End -->
</body>
</html>