<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/style.css">
    <title>Ulin |Search</title>
</head>
<body>
    <!--search Navbar Start -->
    <header class="navbarsearch">
        <div class="container">
            <div class="kembali">
                <img src="../img/Vectorkembali.png" alt="">
                <p>kembali</p>
            </div>
            <div class="cari">
                <input class="form-cari" type="text" id="userInput" placeholder="Klik disini untuk memulai pencarian">
                <input class="logo-cari" type="image" name="submit" src="../img/Vectorsearch.png">
            </div>
        </div>
    </header>
    <!-- search navbar end -->

    <!-- kategori start -->
    <section class="kategori-search">
        <div class="container">
            <!-- kategori -->
            <div class="grid-kategori">
                <div class="kategori">
                    <img src="../img/search/search-gunung.png" alt="">
                </div>
                <div class="kategori">
                    <img src="../img/search/search-gunung.png" alt="">
                </div>
                <div class="kategori">
                    <img src="../img/search/search-gunung.png" alt="">
                </div>
                <div class="kategori">
                    <img src="../img/search/search-gunung.png" alt="">
                </div>
            </div>
            <!-- iklim -->
            <div class="iklim">
                <p>Rekomendasi berdasarkan iklim musim</p>
                <div class="grid-iklim">
                    <div class="kategori">
                        <img src="../img/search/search-gunung.png" alt="">
                    </div>
                    <div class="kategori">
                        <img src="../img/search/search-gunung.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Kategori End -->

    <!-- navbar bawah -->
    <div class="parentnavbawah">
        <div class="navbawah">
            <div class="icon">
                <div class="navbawah--home">
                    <a href="../index.html">
                        <img src="../img/home.png" alt="">
                    </a>
                </div>
                <div class="navbawah--search">
                    <a href="../view/search.html">
                        <img src="../img/search.png" alt="">
                    </a>
                </div>
                <div class="navbawah--post">
                    <a href="">
                        <img src="../img/post.png" alt="">
                    </a>
                </div>
                <div class="navbawah--notifikasi">
                    <a href="">
                        <img src="../img/notif.png" alt="">
                    </a>
                </div>
                <div class="navbawah--profile">
                    <a href="../view/profile.html">
                        <img src="../img/profile.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar bawah End -->
</body>
</html>